{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.css' %}">

    <!-- jQuery library -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Latest compiled JavaScript -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- My CSS -->
    <link rel='stylesheet' href='{% static "poll/css/poll_style.css" %}' />
    <title>
        {% block head_title %}
        Polls
        {% endblock head_title %}
    </title>
</head>
<body>
    <header class="container bgimage">
        <h1>Polls App</h1>
    </header>

    <div class="container">
        <div class="row">
            <nav class="btn-group btn-group-sm">
                <a href="{% url 'poll:index' %}" class="btn btn-info" role="button">Index</a>
                <a href="#" class="btn btn-primary" role="button">Poll group #1</a>
                <a href="#" class="btn btn-primary" role="button">Poll group #2</a>
                <a href="#" class="btn btn-primary" role="button">Poll group #3</a>
                <a href="#" class="btn btn-warning" role="button">Add new poll</a>
                <a href="{% url 'adminis' %}" class="btn btn-danger" role="button">Admin</a>
            </nav>
            <div>
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </div> <!-- First -->
</body>
</html>