{% extends 'poll/base.html' %}

{% load staticfiles %}

{% block head_title %}
   {{ block.super }} | Question {{ question.id }}
{% endblock head_title %}

{% block content %}
<section class="col-sm-12">
    <h1>{{ question.id }}. {{ question.question_text }}</h1>

    {% if error_message %}
    {{ error_message }}
    {% endif %}

    <form action="{% url 'poll:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        <input type="submit" value="Vote">
    </form>
</section>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{% endblock %}
