{% extends 'poll/base.html' %}

{% load staticfiles %}

{% block head_title %}
   {{ block.super }} | Question {{ question.id }}
{% endblock head_title %}

{% block content %}
<section class="col-sm-12">
    <h1>{{ question.id }}. {{ question.question_text }}</h1>
    <ol>
    {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }}
            ({{ choice.votes }}
            {% if choice.votes == 1 %}
            vote)
            {% else %}
            votes)
            {% endif %}
        </li>
    {% endfor %}
    </ol>

    <p>
        <a href="{% url 'poll:index' %}" class="btn-sm btn-primary" role="button">
            Go back
        </a>
    </p>
</section>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{% endblock %}
