{% extends 'poll/base.html' %}

{% load staticfiles %}

{% block title %} {{ block.super }} | Index {% endblock title %}

{% block header3 %}Main Site{% endblock header3 %}
{% block content %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for question in questions %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#question{{ question.id }}" aria-expanded="false" aria-controls="question{{ question.id }}">
                {{ question }}. {{ question.question_text }}
            </a>
            </h4>
        </div>
        <div id="question{{ question.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                {% if error_message %}
                {{ error_message }}
                {% endif %}

                <form action="{% url 'poll:vote' question.id %}" method="post">
                    {% csrf_token %}
                    {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                    {% endfor %}
                    <input type="submit" value="Vote">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<button class="btn btn-danger" data-toggle="collapse" data-target="#demo">Click!</button>
<div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</div>
<div>
    According to tradition, the Dhammapada's verses were spoken by the Buddha on various occasions.[8] "By distilling the complex models, theories, rhetorical style and sheer volume of the Buddha's teachings into concise, crystalline verses, the Dhammapada makes the Buddhist way of life available to anyone...In fact, it is possible that the very source of the Dhammapada in the third century B.C.E. is traceable to the need of the early Buddhist communities in India to laicize the ascetic impetus of the Buddha's original words."[9] The text is part of the Khuddaka Nikaya of the Sutta Pitaka, although over half of the verses exist in other parts of the Pali Canon.[10] A 4th or 5th century CE commentary attributed to Buddhaghosa includes 305 stories which give context to the verses.
</div>

{# I need to learn about integrating AngularJS and Django #}
{#<div ng-app="">#}
{#    <p>Input some test message:</p>#}
{#    <p>Input: <input type="text" ng-model="name"></p>#}
{#    <h1>Typed in: {{name}}</h1>#}
{#</div>#}

{% endblock content %}