{% extends 'poll/base.html' %}

{% load staticfiles %}

{% block title %} {{ block.super }} | Index {% endblock title %}

{% block header3 %}Main Site{% endblock header3 %}
{% block content %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for question in questions %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#question{{ question.id }}" aria-expanded="false" aria-controls="question{{ question.id }}">
                {{ question }}. {{ question.question_text }}
            </a>
            </h4>
        </div>
        <div id="question{{ question.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                {% if error_message %}
                {{ error_message }}
                {% endif %}

                <form action="{% url 'poll:vote' question.id %}" method="post">
                    {% csrf_token %}
                    {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                    {% endfor %}
                    <input type="submit" value="Vote">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}