.bgimage {
    background-image: url('http://feelgrafix.com/data/background/background-18.jpg');
    background-position: center center;
    background-size: cover;
    color: white;
    height: 70px;
}

nav {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}