<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.css' %}">

    <!-- jQuery library -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Latest compiled JavaScript -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <title>Title</title>
</head>

<body>
Hello world!
</body>
</html>