<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'app1/js/mobirise.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'app1/css/mobirise.css' %}">

    <title></title>
</head>

<body>
<div class="menu-btn"></div>
    <nav>
        <ul>
            <li>
                <ul class="sub-menu">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="#">ABOUT US</a></li>
                </ul>
            </li>
            <li>
            <span>What we have done</span>
            <br>
            <a href="#" class="orange">WEBDESIGN</a>
            </li>
            <li class="line">
                <a href="#">UX DESIGN</a>
            </li>
            <li class="line">
            <span>Meet our super heros</span>
            <br>
            <a href="#" class="red">THE TEAM</a>
            </li>
            <li class="line">
            <span>Welcome to our superhero family</span>
            <br>
            <a href="#" class="green">JOIN IN</a>
            </li>
            <li>
            <span>Sharing in caring</span>
            <br>
            <a href="#" class="darkblue">FACEBOOK</a>
            </li>
            <li><a href="#" class="blue">TWITTER</a></li>
        </ul>
        <div class="email-form">
            <h2>SUBSCRIBE TO OUR NEWSLETTER</h2>
            <form>
                <input type="email" class="field" placeholder="Enter your Email....">
                <button>Let me in</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <h2>responsive full screen navigation menu that slides from top using a toggle button</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, cupiditate, laboriosam quod maxime dignissimos modi officia sequi fugiat excepturi ut nam exercitationem voluptatum cumque velit quaerat alias quo debitis nesciunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, cupiditate, laboriosam quod maxime dignissimos modi officia sequi fugiat excepturi ut nam exercitationem voluptatum cumque velit quaerat alias quo debitis nesciunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, cupiditate, laboriosam quod maxime dignissimos modi officia sequi fugiat excepturi ut nam exercitationem voluptatum cumque velit quaerat alias quo debitis nesciunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, cupiditate, laboriosam quod maxime dignissimos modi officia sequi fugiat excepturi ut nam exercitationem voluptatum cumque velit quaerat alias quo debitis nesciunt.</p>
        <p>loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, cupiditate, laboriosam quod maxime dignissimos modi officia sequi fugiat excepturi ut nam exercitationem voluptatum cumque velit quaerat alias quo debitis nesciunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, cupiditate, laboriosam quod maxime dignissimos modi officia sequi fugiat excepturi ut nam exercitationem voluptatum cumque velit quaerat alias quo debitis nesciunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, cupiditate, laboriosam quod maxime dignissimos modi officia sequi fugiat excepturi ut nam exercitationem voluptatum cumque velit quaerat alias quo debitis nesciunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, cupiditate, laboriosam quod maxime dignissimos modi officia sequi fugiat excepturi ut nam exercitationem voluptatum cumque velit quaerat alias quo debitis nesciunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, cupiditate, laboriosam quod maxime dignissimos modi officia sequi fugiat excepturi ut nam exercitationem voluptatum cumque velit quaerat alias quo debitis nesciunt.</p>
        <p>loremLorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, cupiditate, laboriosam quod maxime dignissimos modi officia sequi fugiat excepturi ut nam exercitationem voluptatum cumque velit quaerat alias quo debitis nesciunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, cupiditate, laboriosam quod maxime dignissimos modi officia sequi fugiat excepturi ut nam exercitationem voluptatum cumque velit quaerat alias quo debitis nesciunt.</p>
    </div>
</body>
</html>